.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .list {
    float: left;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  .list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .list a:hover {
    background-color: #111;
  }
  #image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  
}